@charset "UTF-8";

body {
	background-color: black;
}

.video-area {
	display: block;
}

.video {
	min-width: 100%;
    min-height: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}